# Expo
.expo/
.expo-shared/

# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Metro bundler cache
.cache/

# Babel cache
babel.config.js

# iOS
ios/Pods/
ios/build/
ios/*.pbxproj

# Android
android/.gradle/
android/app/build/
android/local.properties

# Web build
web-build/

# Misc
.DS_Store
*.env
*.env.local
*.env.development
*.env.production
